<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Star Wars</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag "application", media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <meta name="viewport" content="width_device-width, initial-scale=1">
  </head>
  <body>
    <div class="navBar">
      <div class="logo"> 
        <a href="/"><h1> Star Wars API </h1></a>
      </div>
      <ul class="nav-links">
        <div class="menu">
          <li><a href="/">About</a></li>
          <li><a href="films">Movies</a></li>
          <li><a href="people">Characters</a></li>
        </div>
      </ul>
    </div>
    <div class="movieTitles">
      <h2>ALL MOVIES<h2>
    </div>
    <div id="films">
      <% @films.each do |film| %>
        <h3><%= link_to film['title'], film, class: "a-primary" %></h3>
      <% end %>
    </div>
  </body>
</html>
