<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Star Wars</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag "application", media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <meta name="viewport" content="width_device-width, initial-scale=1">
  </head>
  <body>
    <div class="navBar">
      <div class="logo"> 
        <h1>Star Wars API</h1>
      </div>
      <ul class="nav-links">
        <div class="menu">
          <li><a href="/">About</a></li>
          <li><a href="/films">Movies</a></li>
          <li><a href="/people">Characters</a></li>
        </div>
      </ul>
    </div>
    <div class="film-wrapper">
      <div id="film">
        <%= render @film %>
        <%= link_to "Return to Movie List", films_path, class: "filmExit" %>
      </div>
    </div>
  </body>
</html>
